@tailwind base;
@tailwind components;
@tailwind utilities;



.white-glassmorphism {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 16px;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.eth-card {
  
  background-image:#ffd599;background-image:  
radial-gradient(at 20% 24%, hsla(224,62%,65%,1) 0, transparent 59%),  
radial-gradient(at 87% 41%, hsla(239,86%,68%,1) 0, transparent 56%),  
radial-gradient(at 93% 25%, hsla(162,92%,69%,1) 0, transparent 52%),  
radial-gradient(at 30% 31%, hsla(241,72%,61%,1) 0, transparent 49%),  
radial-gradient(at 40% 33%, hsla(43,82%,71%,1) 0, transparent 59%),  
radial-gradient(at 84% 53%, hsla(260,88%,73%,1) 0, transparent 47%),  
radial-gradient(at 34% 37%, hsla(96,79%,67%,1) 0, transparent 40%);
}

.spinner {
  margin: 50px auto;
  width: 40px;
  height: 40px;
  position: relative;
  text-align: center;
  
  -webkit-animation: sk-rotate 2.0s infinite linear;
  animation: sk-rotate 2.0s infinite linear;
}

.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.dot2 {
  top: auto;
  bottom: 0;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}

.card-image {
  border: 6px black solid
}

.active-btn {
  border: 2px black solid;
  background-color: #22577E;
  border-radius: .5rem;
  border-color: #4FBDBA;
  padding: 0 5px 2px 5px;
  
  color: #4FBDBA;
  
  
}

.neonP {
  /* animation: p 0.11s ease-in-out 10s infinite alternate; */
  border: 0.2rem solid #fff;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 0.2rem #fff, 0 0 0.2rem #fff, 0 0 2rem #3340b1,
    0 0 0.8rem #2729a8, 0 0 2.8rem #431cc2, inset 0 0 1.3rem #6765db;
}

@keyframes p {
  100% {
    text-shadow: 0 0 4px #fff, 0 0 11px #fff, 0 0 19px #fff, 0 0 42px #0829be,
      0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
  }
}

.neontext {
  color: #fff;
  text-shadow: 0 0 7px #fff, 0 0 10px #fff, 0 0 21px #fff, 0 0 42px #0829be,
    0 0 82px #0d2bb1, 0 0 92px #0c28a8, 0 0 102px #092086, 0 0 151px #050d33;
}

.show-modal {
  visibility: visible;
  z-index: 10;
}
.hide-modal {
  visibility: invisible;
  z-index: -10;
}

.img{
  shape-outside: url('/images/Bodi.jpg');
  shape-margin: 15px;
}